.main-banner {
  background-color: #5543E2;
  padding: 20px;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.banner-content {
  width: 100%;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.event-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  color: black;
}

.event-table th {
  background-color: #4338CA;
  color: white;
  padding: 12px;
  text-align: left;
}

.event-table td {
  padding: 10px;
}

.event-table th,
.event-table td {
  border: 1px solid #ddd;
}

.event-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.event-table tr:hover {
  background-color: #e9ecef;
}